

.mb-3{
    color: #777;
    font-size: 20px;
    font-family: Raleway;
    font-weight: 700;
}
.mb-4{
    display: flex;
    width: 1440px;
    height: 51px;
    flex-direction: column;
    flex-shrink: 0;
    color: #01A95B;
    font-size: 40px;
    font-family: Raleway;
    font-weight: 700;
    padding: 40px;
    padding-left: 200px;
}



.mb-5{
    color: #777;
    font-size: 20px;
    font-family: Raleway;
    font-weight: 700;
    margin-top: 20px;
}

.mb-33{
    width: 400px;
    color: #777;
    font-size: 19px;
    font-family: Raleway;
    font-weight: 500;
}


.option-center{
    margin-top: -85px;
    text-align: center;
}


.box1{
    width: 312px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 7px;
    border: 1px solid #CED4D9;
    background: #FFF;
    margin-right: 18.5px;
}

.box2{
    width: 477px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 7px;
    border: 1px solid #CED4D9;
    background: #FFF;
    margin-right: 19px;
}

.container-fluid{
    width: 1061px;
    height: 560px;
    flex-shrink: 0;
    border-radius: 22px;
    background: #FFF;
    box-shadow: 0px 20px 63px 25px rgba(29, 29, 29, 0.25);
    margin-top: 70px;
    padding: 25px;
}

.container-fluid-leg{
    width: 1061px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 22px;
    background: #FFF;
    box-shadow: 0px 20px 63px 25px rgba(29, 29, 29, 0.25);
    padding: 25px;
    margin: auto;
    margin-top: 70px;
}

.box-padding{
    padding-bottom: 10rem;
    /* padding-top: 2.65rem; */
}

.btnRed{
    width: 200px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FB5D5D;
    margin-right: 40px;
}

.btnBlue{
    width: 200px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #01A4E5;
    margin-right: 40px;
}

.mb-2{
    display: flex;
    width: 170px;
    height: 19px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 700;
}

.left{
    float: left;
}

.clear{
    clear:both;
  }

.button-center{
    height: 50px;
    width: 1017px;
    text-align: center;
}

select{
    width: 477px;
    height: 45px;
    margin-right: 19px;
    flex-shrink: 0;
    border-radius: 7px;
    border: 1px solid #CED4D9;
    background: #FFF;
    background-color: #FFF;
}
