<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary navbar-box" >
  <div class="container-fluid">
    <a class="navbar-brand" >
      <img src="assets/Images/Toggle.png" alt="toggle" width="30" height="24">
    </a>
    <div class="mb-3" style="margin-left: 60%; padding-bottom: 15px;">
      <div routerLink="/About-Page">About</div>
    </div>
    <a class="navbar-brand" >
    </a>
    <div class="mb-3" style="margin-left: 2%">
      <p>Welcome, Ananya</p>
    </div>
    <a class="navbar-brand" >
      <img src="assets/Images/iffcologo 1.png" alt="iffco-tokio" height="70" routerLink="/">
    </a>
    
  </div>
</nav>