.mb-2{
    display: flex;
    width: 170px;
    height: 19px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 700;
}

.mb-3{
    width: 400px;
    height: 40px;
    color: #000;
    font-size: 20px;
    font-family: Raleway;
    font-weight: 500;
}

.mb-4{
    display: flex;
    width: 1440px;
    height: 51px;
    flex-direction: column;
    flex-shrink: 0;
    color: #01A95B;
    font-size: 40px;
    font-family: Raleway;
    font-weight: 700;
    text-align: center;
}

.mb-5{
    display: flex;
    width: 970px;
    height: 51px;
    flex-direction: column;
    flex-shrink: 0;
    color: #777;
    font-size: 25px;
    font-family: Raleway;
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
}

.container-fluid{
    width: 1061px;
    height: 262px;
    flex-shrink: 0;
    border-radius: 22px;
    background: #FFF;
    box-shadow: 0px 20px 63px 25px rgba(29, 29, 29, 0.25);
    display: flex;
    flex-direction: column;
}

.box-padding{
    padding-bottom: 12rem;
    padding-top: 2.65rem;
}

.btnRed{
    width: 200px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FB5D5D;
    margin-right: 40px;
}

.btnBlue{
    width: 200px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #01A4E5;
    margin-right: 40px;
}

.left{
    float: left;
}

.clear{
    clear:both;
}

.option-center{
    margin-top: -30px;
    margin-bottom: 30px;
    height: 50px;
    width: 1600px;
    text-align: center;
}

.button-center{
    margin-top: -20px;
    height: 50px;
    width: 1015px;
    text-align: center;
}