<div class="mb-4">
    <h1><b>About Us</b></h1> 
</div>

<div style="clear:both;">&nbsp;</div>
<div>
    <div class="container-fluid-2" style="float:left; text-align: center;">
        <img src="assets/Images/IFFCO-Tokio_Building_Image.png" alt="toggle" width="600">
    </div>

    <div class="container-fluid" style="float:left">
        <div class="mb-33">
            IFFCO-Tokio General Insurance Company Limited was incorporated in 2000, 
            as a joint venture between the Indian Farmers Fertiliser Co-operative Limited (IFFCO), 
            which is the world's largest fertilizer manufacturer, and Tokio Marine Group, 
            which is one of the largest insurance groups in Japan. 
            IFFCO holds 51 percent in the company and the remaining 49 percent is held by Tokio Marine Group.
            <div style="clear:both;">&nbsp;</div>

            The company offers a comprehensive product bouquet of all lines of business such as Car Insurance, 
            Two-wheeler Insurance, Health Insurance, Travel Insurance and Home Insurance, 
            including corporate policies such as property insurance and liability insurance. 
            It is also the first company in India to underwrite mega policies. 
            The comprehensive policy is based on international rates and optimizes the 
            premium outflow for clients even as it offers a one-stop, all-risk cover. 
            Other than the conventional products, it also offers niche products such as Cyber Insurance, 
            Credit Insurance, Fine Arts Insurance, P & I Insurance, Errors & Omission Policy for the IT Sector, etc. 
            At the same time, it has steadfastly carried out its rural centric initiatives by launching products 
            like Sankat Haran Bima Yojana, Mahila Suraksha Bima Yojana and Janata Bima Yojana for the masses.
            <div style="clear:both;">&nbsp;</div>

            IFFCO-Tokio has a wide presence in rural areas and Tier 2, 3 and 4 towns, too. 
            It is the first private insurer to establish Bima Kendras, which are single-person operated centers, 
            to increase insurance penetration in rural areas at the customer's doorstep. 
        </div>
    </div>
</div>
