<div class="box-padding">
    <div class="container-fluid">
        <form class="form">
            <div>
                <h1 class="mb-5">Client Type</h1>
            </div>
            <div class="option-center">
                <div class="mb-3" style="float:left">
                <input type="radio" name="inputClientType">Individual
                </div>
                <div class="mb-3" style="float:left">
                <input type="radio" name="inputClientType">Legal/Corporate
                </div>
            </div>
            <div style="clear:both;">&nbsp;</div>
            <div class="button-center">
                <button type="submit" class="btn btnBlue btn-primary">
                    <div>
                        <a class="nav-link" routerLink="/Search-E-Kyc/Details">
                            <div class="mb-2">Next</div>
                        </a>
                    </div>
                </button>
            </div>
        </form>
    </div>
</div>


