<div>
    <div class="mb-4">
        <h1><b>Welcome,</b></h1>
    </div>
    <div class="mb-3">
        <p>This is a platform where you can search your e-KYC document.</p>
        <p>Kindly select one of the following options to continue.</p>
    </div>
    <div class="box-padding">
        <div class="container-fluid">
            <form class="form">
                <div style="clear:both;">&nbsp;</div>
                <div class="button-center">
                    <button type="submit" class="btn btnBlue btn-primary">
                        <a class="nav-link" routerLink="/Search-E-Kyc/Details">
                            <div class="mb-2">Search e-Kyc</div>
                        </a>
                    </button>
                    <button type="submit" class="btn btnRed btn-primary">
                        <a class="nav-link" routerLink="/Create-E-Kyc/Details">
                            <div class="mb-2">Create e-Kyc</div>
                        </a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


