.container-fluid{
    width: 1440px;
    height: 100px;
    flex-shrink: 0;
}

.nav-item{
    padding:2px;
    margin-left: 7px;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: Raleway;
    font-weight: 700;
}

.btn{
    border-radius: 4px;
    background: #FB5D5D;
}